@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f1ea;
  color: #0f172a;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
